html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section {
    height:100vh;
    display: flex;
    justify-content: center;
    scroll-snap-align:start;
    text-align: center;
    background-image: url(./images/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
}
.container {
    scroll-snap-type:y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background-color: black;
    color: rgb(0, 0, 0);
    text-shadow: 6px 3px 8px rgb(0, 0, 0);
    padding: 1em;
}
.first-name {
    font-size: 2em;
    margin-top: 6em;
    padding-right: .3em;
}
.last-name {
    font-size: 1em;
    padding-left: 1.5em;
}
.fa-brands, .fa-linkedin{
    justify-content: center;

}
/* --------------------------------  BIOGRAPHY  ----------------------------------------------------------- */

.two {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    background-image: url(./images/jeremy-bishop-1braZySlEKA-unsplash--1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
}
.two h1{
    margin: 1.6em;
    font-size: 2.5em;
    color: #FFC773;
    text-shadow: 10px 10px 8px black;
}
.two h1 p{
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 27px;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration:solid;
    color: #FFC773
}
.two h1 ul{
    font-size:.4em;
    list-style-type: none;
}
.two h1 ul li{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    padding: 1em;
    justify-content: center;
    color:#FFC773;
    font-size: larger;

}


/* -----------------------------------   skills  --------------------------------------------------- */


.three {
    background-color: rgb(0, 0, 5);
    color: #FFC773;
    background-image: url(./images/jeremy-bishop-1braZySlEKA-unsplash--1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
}
.three h1{
    margin: 1em;
    font-size: 3em;
    color: #FFC773;
    text-shadow: 10px 10px 8px black;
}
/* .three h1 p{
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 27px;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration:solid;
} */
.three h1 ul{
    font-size:.4em;
    padding-top: 1em;
    list-style-type: none;
}
.three h1 ul li{
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    padding: .5em;
    justify-content: center;
    color: #FFC773;
    font-size: larger;
}

/* ---------------------------- WORK HISTORY --------------------------------------------- */

.four {
    background-color: rgb(0, 0, 5);
    color: #FFC773;
    background-image: url(./images/jeremy-bishop-1braZySlEKA-unsplash--1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
    color: #FFC773;
}
.four h1 p{
    padding-top: .7em;
    font-size: 25px;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration:solid;
}
.four h1{
    margin: 2em;
    font-size: 2.2em;
    color: #FFC773;
    text-shadow: 10px 10px 8px black;
}
.four h1 ul{
    font-size:.3em;
    list-style-type: none;
}
.four h1 ul li{
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    padding: .3em;
    justify-content: center;
    color:#FFC773;
    font-size: larger;
}
/* ----------------------------------   CONATACT PAGE  ------------------------------------------------------------ */

.five {
    background-color: rgb(0, 0, 5);
    color: #FFC773;
    background-image: url(./images/jeremy-bishop-1braZySlEKA-unsplash--1.jpg);
    margin-bottom: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
}
.five h1{
    margin: 2em;
    font-size: 2.4em;
    color: #FFC773;
    text-shadow: 10px 10px 8px black;
}
.five form{
    font-size: 27px;
    padding: 2em;
    text-decoration:solid;
    /* box-shadow: 10px 10px 8px black; */
}

/* ------------------------------------ RESPONSIVE NAV BAR ----------------------------------------------------------- */
nav {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: absolute;
}
/* nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
} */
nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
}
nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 14px;
    padding: 22px 16px;
    text-decoration: none;
    color: #FFC773;
    
}
nav ul li ul {
    display: none;
    position:absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 6px 6px;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul a{
    padding: 15px 31px;
}
nav ul li ul a{
    width: 185px;
    border-radius: 0px 0px 6px 6px;
}
nav ul li ul a:hover{
    background-color: blueviolet;
}
#fname, #email{
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#subject{
    border-radius: 10px 10px 10px 10px;
    padding-top: .6em;
    padding-left: 1em;
    margin-top: 1.5em;
}
.fa-brands{
    margin-top: 1.5em;
}
/* ----------------------------------------- Screen sizing ------------------------------------------ */


@media (min-width: 500px) {
    .flex-gallery {
        display:flex;
        flex-wrap:wrap;
    }

    .gallery-item {
        width:100%;
        padding:1em;
        font-size: xx-small;
    }
    .two{
        padding-top: 1.5em;
    }
    .three{
        padding-top: 2em;
    }
    .four{
        padding-top: 4em;
    }
    .five{
        padding-top: 3.7em;
    }
    .five form{
        font-size: 27px;
        padding:8em;
        text-decoration:solid;
    }
    .first-name{
        font-size: 3.3em;
        margin-top: 4em;
    }
}

@media (max-width:766px) {
    .larger{
        display:none;
    }
    
    
}

@media (min-width:766px) {
    h1 p{
        font-size: 2px;
    }
    .two h1 ul li{
        display:none;
    }
    .three h1 ul{
        font-size:.6em;
        padding-top: 1.9em;
        list-style-type: none;
    }
    .four h1 ul{
        font-size:.8em;
        list-style-type: none;
    }
    .three h1 ul li{
        font-family:'Times New Roman', Times, serif;
        font-size:xx-large;
        padding: .5em;
        justify-content: center;
        color: #FFC773;
        font-size: larger;
    }
    .four h1 ul li{
        font-family:'Times New Roman', Times, serif;
        font-size:x-large;
        padding: .3em;
        justify-content: center;
        color:#FFC773;
        font-size: larger;
    }
    .five form{
        font-size: 27px;
        padding: 8em;
        padding-top: 2em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 5em;
        margin-top: 2em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }
}
@media (min-width:915px){
    .five form{
        font-size: 22px;
        padding: 13em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
}
@media (min-width:1024px){
    .five form{
        font-size: 27px;
        padding: 13em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }

}
@media (min-width:1150px){
    .five form{
        font-size: 31px;
        padding: 25em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
}
@media (min-width:1440px){
        .five form{
            font-size: 27px;
            padding: 20em;
            padding-top: 4em;
            text-decoration:solid;
            /* box-shadow: 10px 10px 8px black; */
        }
        .first-name {
            font-size: 7em;
            margin-top: 1em;
            padding-right: .3em;
        }
        .last-name {
            font-size: 1em;
            padding-left: 1.5em;
        }
    
}
@media (min-width:1550px){
    .five form{
        font-size: 31px;
        padding: 29em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
}
@media (min-width:2350px){
    .five form{
        font-size: 31px;
        padding: 37em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
}
@media (min-width:2560px){
    .five form{
        font-size: 27px;
        padding: 45em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 8em;
        margin-top: 1em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }

}
@media (min-width:3000px){
    .five form{
        font-size: 27px;
        padding: 50em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 8em;
        margin-top: 1em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }

}
@media (min-width:3300px){
    .five form{
        font-size: 27px;
        padding: 59em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 8em;
        margin-top: 1em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }

}
@media (min-width:3800px){
    .five form{
        font-size: 27px;
        padding: 66em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 8em;
        margin-top: 1em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }

}
@media (min-width:4900px){
    .five form{
        font-size: 27px;
        padding: 86em;
        padding-top: 4em;
        text-decoration:solid;
        /* box-shadow: 10px 10px 8px black; */
    }
    .first-name {
        font-size: 8em;
        margin-top: 1em;
        padding-right: .3em;
    }
    .last-name {
        font-size: 1em;
        padding-left: 1.5em;
    }

}
